<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<%= stylesheet_link_tag 'photoshoot', media: 'all'%>

<title>Page Title</title>
</head>
<body>
<h2>Create a new photoshoot</h2>

<div class="container">
	<%= form_tag({:action => :create}, :multipart => true) do %>
		<%= label_tag  "Cover image"%>
		<%= file_field_tag :cover_image, class: 'form-control'%>
		<br/>
		<%= label_tag  "Images"%>
		<%= file_field_tag :images, multiple: true, class: 'form-control'%>
		<br/>
	<%= label_tag "Title" %>
	<%= text_field :photoshoot, :title, class: 'form-control' %>
		<br/>
		<%= label_tag "Date" %>
	<%= date_select :photoshoot, :date, {}, class: 'form-control col-2 d-inline' %>
	<br/>
	<%= submit_tag 'Upload', class: 'btn btn-primary' %>
	<%= link_to 'Cancel', photoshoot_index_path, class: 'btn btn-secondary' %>
	<% end %>
</div>
</body>
</html>