<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<%= stylesheet_link_tag 'photoshoot_opened', media: 'all'%>
<title>Page Title</title>
</head>
<body>

<div style="height: 50px"></div>


<div class="text-center text-white">
    <h1 class="display-3 very-bold bit-of-shadow"><%= @photoshoot.title %></h1>
    <h3 class="display-5 bit-of-shadow"><%= @photoshoot.date %></h3>
</div>
<div class="text-center">
    <%= link_to 'Back', :back, class: 'btn btn-secondary'%>
</div>
<% partitioned_list = @photoshoot.images.to_a.in_groups(3, false).to_a %>
<% print("LOLLLLL") %>
<% @photoshoot.images.each do |x| %>
    <% print(x) %>
<% end %>


<div class="container-fluid">
    <div class="row">
        <div class="column">
            <% if (partitioned_list.length() > 0) %>
                <% partitioned_list[0].each do |img| %>
                <div class="container">
                    <%= image_tag img%>
                </div>
                <% end %>
            <% end %>
        </div>

        <div class="column">
            <% if (partitioned_list.length() > 1) %>
                <% partitioned_list[1].each do |img| %>
                <div class="container">
                    <%= image_tag img%>
                </div>
                <% end %>
            <% end %>
        </div>

        <div class="column">
            <% if (partitioned_list.length() > 2) %>
                <% partitioned_list[2].each do |img| %>
                <div class="container">
                    <%= image_tag img%>
                </div>
                <% end %>
            <% end %>
        </div>

    </div>

</div>


</body>
</html>